.about {
	padding-top: 20px;

	.container {
		@extend %container;
	}

	// .about__wrapper
	&__wrapper {
		@include flex (center, center, wrap, column);
		background-color: $bgColorBtn;

	}

	// .about__img
	&__img {
		@include wh (238px);
		margin: 0 auto 27px;
		display: block;
	}

	// .about__content
	&__content {
		padding: 16px 24px 26px;
		border: 1px solid $bgColor;
		max-width: 342px;
		max-height: 214px;
		margin: 24px 0 30px;

	}

	// .about__text
	&__text {
		color: $textColorBtn;
		line-height: 111.5%;

		letter-spacing: 0.045em;
	}




	// .about__btn
	&__btn {
		max-width: 146px;
		margin-bottom: 28px;
	}
}