.contacts {
	padding: 16px 0 30px;

	.container {
		@extend %container;
	}

	// .contacts__wrapper
	&__wrapper {
		@include flex ($align-items: center, $flex-direction: column);
	}

	// .contacts__title
	&__title {

		position: relative;
		margin-bottom: 50px;
		width: 100%;

		&::after,
		&::before {
			@include pseudo();
			@include wh (100%, 1px);
			border: 1px solid $bgColorBtn;
			@include pos (absolute, 50%);

		}

		&::after {
			right: -70%;

		}

		&::before {
			left: -70%;
		}
	}

	// .contacts__text
	&__text {
		max-width: 294px;


	}

	// .contacts__wrap
	&__wrap {
		@include flex (space-between, center);
		margin-top: 90px;
		width: 100%;
		padding-left: 10px;

	}

	// .contacts__telephone
	&__telephone {
		@include flex (space-between, center, wrap, column);
		gap: 10px;
		margin-bottom: 50px;
	}

	// .contacts__name
	&__name {
		font-family: "PlayfairDisplay";
		letter-spacing: 0.01em;

	}

	// .contacts__tel
	&__tel {
		font-family: "PlayfairDisplay";
		line-height: 100%;
		text-align: center;
		letter-spacing: 0.07em;
		color: $textColor;
	}

	// .contacts__img
	&__img {
		@include wh (185px, 232px);

	}
}