.form {
	padding: 16px 0 30px;

	.container {
		@extend %container;
	}

	// .formSecond__arrow
	&__arrow {
		margin-bottom: 20px;
	}

	&__title {

		font-weight: 700;
		font-size: 28px;
		line-height: 94.5%;
		margin-bottom: 50px;
	}

	&__wrap {
		@include flex ($align-items: center, $flex-direction: column);

		background: $mainColor;
		padding: 24px 0;
	}


	// .formSecond__input
	&__input {

		margin-bottom: 24px;
	}

	// .formSecond__btn
	&__btn {
		max-width: 236px;
		margin-top: 24px;

		font-family: 'Playfair Display';

		line-height: 94.5%;
		letter-spacing: 1.6px;
	}
}