.main {
	padding: 20px 0 28px;

	.container {
		@extend %container;
	}

	// .main__wrapper
	&__wrapper {
		@include flex (center, center, wrap, column);
		border: 3px solid #1E4D51;

		padding-bottom: 48px;
	}

	// .main__img
	&__img {
		@include wh (238px);
	}

	// .main__title
	&__subtitle {

		margin: 12px 0 20px;
		max-width: 230px;

		font-weight: 500;
		font-size: 28px;
		line-height: 94.5%;
		text-align: center;
	}

	// .main__title
	&__title {

	
		font-size: 28px;
		line-height: 94.5%;
		
		margin: 26px 0;
		max-width: 270px;
	}


	// .main__date
	&__date {
		@include flex (center, center);
		gap: 5px;
		margin-bottom: 34px;

	}

	// .main__time
	&__time {

		font-weight: 400;
		font-size: 20px;
		line-height: 94.5%;
		text-align: center;

	}

	// .main__btn
	&__btn {
		max-width: 200px;
	}
}