.partners {
	
	padding: 16px 0;

	.container {
		@extend %container;
	}

	// .payment__wrapper
	&__wrapper {
		padding: 14px;
		
		background-color: $bgColorBtn;
	}

	&__title {

		position: relative;
		margin-bottom: 44px;
		width: 100%;

		&::after,
		&::before {
			@include pseudo();
			@include wh (100%, 1px);
			border: 1px solid $bgColorBtn;
			@include pos (absolute, 50%);

		}

		&::after {
			right: -80%;

		}

		&::before {
			left: -80%;
		}
	}


	// .partners__border
	&__border {
		@include flex (center, flex-start, wrap, column);
		border: 1px solid $bgColor;
		padding: 20px 0;
		margin: 0 auto;
	}


	// .partners__img
	&__img {
		@include wh (100%, 144px);
		max-width: 316px;
		display: block;
		margin: 0 auto;
	}

	// .partners__list
	&__list {
		@include flex (space-between, flex-start, wrap, column);
		gap: 13px;
		margin-top: 20px;
		padding-left: 30px;
	}

	// .partners__item
	&__item {}

	// .partners__logo
	&__logo {}
}