.payment {
	padding: 16px 0 30px;

	.container {
		@extend %container;
	}

	// .payment__wrapper
	&__wrapper {
		@include flex (center, center, wrap, column);

	}

	&__title {

		position: relative;
		margin-bottom: 44px;
		width: 100%;

		&::after,
		&::before {
			@include pseudo();
			@include wh (100%, 1px);
			border: 1px solid $bgColorBtn;
			@include pos (absolute, 50%);

		}

		&::after {
			right: -64%;

		}

		&::before {
			left: -64%;
		}
	}

	// .payment__img
	&__img {
		@include wh (100%, 258px);
		max-width: 258px;
		display: block;
		margin-bottom: 10px;
	}

	// .payment__subtitle
	&__subtitle {
		margin-bottom: 20px;
	}

	// .payment__discount
	&__discount {

		font-size: 16px;
		line-height: 100%;
		text-align: center;
		letter-spacing: 0.07em;
		text-decoration-line: line-through;

		margin-bottom: 10px;

	}

	// .payment__price
	&__price {

		font-weight: 500;
		font-size: 36px;
		line-height: 100%;
		text-align: center;
		letter-spacing: 0.07em;
		margin-bottom: 20px;
	}

	// .payment__btn
	&__btn {
		max-width: 236px;
		border: 3px solid #1E4D51;
		box-shadow: 0px 4px 4px rgba(30, 77, 81, 0.25);
		font-family: 'Playfair Display';
		font-size: 22px;
		line-height: 94.5%;

		margin-bottom: 36px;
	}

	// .payment__list
	&__list {
		@include flex (space-between, center);
		gap: 22px;
	}

}