@font-face {
  font-family: "Oswald-Medium";
  src: url("../fonts/Oswald-Medium.ttf"), url("../fonts/Oswald-Medium.woff"), url("../fonts/Oswald-Medium.woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Oswald-Regular";
  src: url("../fonts/Oswald-Regular.ttf"), url("../fonts/Oswald-Regular.woff"), url("../fonts/Oswald-Regular.woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PlayfairDisplay-Regular";
  src: url("../fonts/PlayfairDisplay-Regular.ttf"), url("../fonts/PlayfairDisplay-Regular.woff"), url("../fonts/PlayfairDisplay-Regular.woff2");
  font-weight: 400;
  font-display: swap;
}