.container {
  @extend %container;
}
.about {
  &__img {
    display: block;
    margin: 0 auto;
    padding: 32px 0 24px;
  }
  &__text {
    padding: 16px 24px;
    margin: 24px;
    border: 1px solid #e4b0a2;
    @include font(22px, 111.5%, 500);
    letter-spacing: 0.045em;
    color: #e4b0a2;
  }
  &__wrapper {
    background: #1e4d51;
  }
  &__wrap--green {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__btn__wrap {
    display: flex;
    justify-content: center;
    padding: 11px 0 30px;
  }

  &__btn {
    color: #1e4d51;
    background-color: #e4b0a2;
    width: 146px;
    height: 40px;
    left: 24px;
    top: 6px;
    @include font(22px, 111.5%);
    box-shadow: 4px 4px 4px rgba(228, 176, 162, 0.25);
  }
}
