.contacts {

	h2 {
		font-family: "PlayfairDisplay-Regular", sans-serif;
		@include font (22px, 94.5%, 400, center, uppercase);
		margin: 32px 0 50px;
		position: relative;

		&::after,
		&::before {
			@include pseudo();
			@include wh (126px, 0);
			border: 1px solid #1E4D51;
		}

		&::after {
			@include pos (absolute, 50%, 0, 0, 0);
		}

		&::before {
			@include pos (absolute, 50%, 0, 260px, 0);
		}
	}

	// .contacts__text
	&__text {
		font-family: "Oswald-Medium", sans-serif;
		@include font (22px, 100%, 500, center);
		letter-spacing: 0.07em;
		padding: 0 48px;
		margin-bottom: 62px;
	}

	// .contacts__wrap
	&__wrap {
		@include flex (space-between, center);
		gap: 18px;
		padding-left: 30px;
		margin-bottom: 62px;

	}

	// .contacts__telephone
	&__telephone {
		@include flex (space-between, center, wrap, column);
		gap: 6px;
	}

	// .contacts__name
	&__name {
		font-family: "PlayfairDisplay-Regular", sans-serif;
		@include font (22px, 100%, 400, center);
		letter-spacing: 0.01em;
	}

	// .contacts__tel
	&__tel {
		font-family: "PlayfairDisplay-Regular", sans-serif;
		@include font (20px, 100%, 400, center);
		letter-spacing: 0.07em;
		font-feature-settings: "pnum"on, "lnum"on;
	}

	// .contacts__img
	&__img {
		@include wh (185px, 232px);

	}
}

// .contacts {
// 	&__wrapper {
// 	  display: flex;
// 	  flex-direction: column;
// 	  align-items: center;
// 	}
// 	&__wrap {
// 	  display: flex;
// 	  align-items: center;
// 	  margin-bottom: 62px;
// 	}
// 	&__name {
// 	  display: flex;
// 	  justify-content: center;
// 	  align-items: center;
// 	  flex-direction: column;
// 	  @include font(22px, 100%, 400);
// 	  margin-bottom: 6px;
// 	}
// 	&__title {
// 	  @include font(22px, 94.5% 400);
// 	  font-family: PlayfairDisplay-Regular;
// 	  text-align: center;
// 	  padding-top: 32px;
// 	  margin-bottom: 50px;
// 	}
// 	&__title::before,
// 	&__title::after {
// 	  content: "";
// 	  display: inline-flex;
// 	  position: relative;
// 	  top: -1px;
// 	  width: 50%;
// 	  height: 1px;
// 	  vertical-align: middle;
// 	  background: #1e4d51;
// 	}
// 	&__title::before {
// 	  left: -5px;
// 	  margin-left: -50%;
// 	}
// 	&__title::after {
// 	  left: 5px;
// 	  margin-right: -50%;
// 	}
// 	&__telephone {
// 	  font-family: Playfair Display;
// 	  display: flex;
// 	  flex-direction: column;
// 	  align-items: center;
// 	  flex-grow: 1;
// 	}
// 	&__tel {
// 	  @include font(20px, 100%, 700);
// 	  font-feature-settings: "pnum" on, "lnum" on;
// 	}
// 	&__text {
// 	  @include font(22px, 100%, 500, center);
// 	  max-width: 294px;
// 	  letter-spacing: 0.07em;
// 	  margin-bottom: 62px;
// 	}
//  }