.program {
  h2 {
    font-family: "PlayfairDisplay-Regular", sans-serif;
    @include font(24px, 94.5%, 400, center, uppercase);
    margin: 32px 0 20px;
    position: relative;

    &::after,
    &::before {
      @include pseudo();
      @include wh(24%, 1px);
      border: 1px solid $bgColorBtn;
    }

    &::after {
      @include pos(absolute, 50%, $right: 0);
    }

    &::before {
      @include pos(absolute, 50%);
    }
  }
  &__btn {
    margin-bottom: 20px;
  }
  &__wrap {
    background-color: $bgColorBtn;
    padding-top: 14px;
    padding-bottom: 14px;
  }
  &__time,
  &__text,
  &__subtitle,
  &__address {
    color: #e4b0a2;
  }
  &__time {
    @include font(14px, 94.5%, 400);
  }
  &__text {
    max-width: 130px;
    width: 100%;
    font-family: Oswald;
    margin-top: 14px;
  }
  &__txt {
    max-width: 206px;
    width: 100%;
    @include font(12px, 94.5%, 400);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &__img {
    margin: 0 auto;
    padding-bottom: 4px;
  }
  &__wrapper {
    padding: 14px 28px;
    border: solid 1px #e4b0a2;
    margin-right: 14px;
    margin-left: 14px;
  }
  &__subtitle {
    text-align: center;
    @include font(18px, 94.5%, 400);
    font-family: Playfair Display;
    margin: 20px 0 32px;
  }
  &__image {
    margin-bottom: 20px;
  }
  &__address {
    @include font(16px, 94.5%, 300);
  }
}
