.speakers {
  &__title {
    @include font(24px, 94.5%, 400);
    font-family: Playfair Display;
    text-align: center;
    margin-top: 49px;
  }
  &__text {
    @include font(22px, 94.5%, 400);
    font-family: "Oswald-Regular", sans-serif;
    margin-right: 6px;
    margin-top: 20px;
  }
  &__icon {
    width: 16px;
    height: 16px;
  }
  &__wrap {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 20px;
  }
  &__word {
    @include font(20px, 94.5%, 400);
    text-align: center;
    margin-top: 20px;
    font-family: "Oswald-Regular", sans-serif;
  }
  &__img {
    margin: 0 auto;
    padding-top: 32px;
  }
  &__btn {
    width: 146px;
    height: 40px;
    color: $textColorBtn;
    background: $bgColorBtn;
    @include font(22px, 111.5%, 400);
    box-shadow: 4px 4px 4px rgba(228, 176, 162, 0.25);
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 32px 0 95px;
  }
}
