.speakerCards {
  &__btn {
    margin-bottom: 30px;
    margin-top: 30px;
  }
  &__wrap {
    background-color: $bgColorBtn;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__text,
  &__subtitle {
    color: #e4b0a2;
    font-family: "Oswald-Regular", sans-serif;
  }

  &__text {
    max-width: 264px;
    width: 100%;
    margin-top: 14px;
    text-align: center;
    @include font(12px, 94.5%, 400);
    padding-bottom: 6 px;
  }

  &__img {
    margin: 0 auto;
  }
  &__wrapper {
    padding: 20px 21px;
    border: solid 1px #e4b0a2;
    margin-right: 14px;
    margin-left: 14px;
  }
  &__subtitle {
    text-align: center;
    @include font(22px, 94.5%, 400);
    // margin: 20px 0 20px;
  }

  &__name {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 20px 0 20px;
  }
  &__icon {
    margin-left: 6px;
  }
}
