// Заголовки, общие БЄМ блоки и проче...

.title {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.2;
    color: $textColor;
}

a {
    font-family: "PlayfairDisplay", sans-serif;
    @include font (18px, 94.5%, 400, center);
}